.main-button {
    display: inline-block;
    background-color: #2F80ED;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 white;
    margin-right: 0;
    transition: transform 80ms linear;
}

.main-button:hover {
    transform: scale(1.08);
}
